# Pandas: Data Manipulation and Analysis in Python

In [1]:
import pandas as pd
import numpy as np

### Pandas
* Python library (Open-source) for working with structured data
* One of the most widely used libraries for the data cleaning step
* Optimized for fast performance on "large data" (not big data)

Integrates with Python: highly readable, syntax makes sense

### Getting the Data

* Pandas handles Excel, CSV, SQL-Tables, JSON, Fixed Width
* read_excel, read_csv, etc. all return the data inside of a dataFrame

In [2]:
df = pd.read_excel("Data.xlsx")

### DataFrames
* Main data structure in Pandas
* A dataFrame in Pandas is made up of a collection of 1d columns called 'Series'
* Similar to a SQL table, a data.frame in R

In [3]:
df.head()

       form  section_NUM  item type  correct  incorrect  omits  Total
0  K-50SA10            1     1   MC       80         12    8.0    100
1  K-50SA10            3     1  SPR       65         30    5.0    100
2  K-50SB07            1     1   MC       95          5    NaN    100
3  K-50SC07            2     1  NaN       70         28    2.0    100
4  K-50SB07            1     1   MC       50         37   13.0    100

In [4]:
# Get information about the dataframe
print(df.shape)
print(df.info())
# Pandas can infer the schema AND data types
# Note that the 'omits' column is of floating point type

(16, 8)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 8 columns):
form           16 non-null object
section_NUM    16 non-null int64
item           16 non-null int64
type           14 non-null object
correct        16 non-null int64
incorrect      16 non-null int64
omits          14 non-null float64
Total          16 non-null int64
dtypes: float64(1), int64(5), object(2)
memory usage: 1.1+ KB
None

#### Data Exploration

In [5]:
print(df.describe())
print(df.mean())

       section_NUM       item    correct  incorrect      omits  Total
count    16.000000  16.000000  16.000000  16.000000  14.000000   16.0
mean      2.000000   1.500000  62.812500  28.687500   9.714286  100.0
std       0.894427   0.516398  19.490917  14.695663   7.183620    0.0
min       1.000000   1.000000  25.000000   5.000000   1.000000  100.0
25%       1.000000   1.000000  50.000000  15.000000   5.000000  100.0
50%       2.000000   1.500000  67.500000  28.000000   9.000000  100.0
75%       3.000000   2.000000  76.250000  37.750000  14.500000  100.0
max       3.000000   2.000000  95.000000  60.000000  25.000000  100.0
section_NUM      2.000000
item             1.500000
correct         62.812500
incorrect       28.687500
omits            9.714286
Total          100.000000
dtype: float64

In [6]:
print(df['form'].unique())
print(df['form'].value_counts())
# Access column names using df['column'] or df.column

['K-50SA10' 'K-50SB07' 'K-50SC07' '5MSA11']
K-50SA10    4
K-50SC07    4
K-50SB07    4
5MSA11      4
Name: form, dtype: int64

DataFrames are mutable: they can be modified after creation
* You can add, delete, alter, etc.

In [7]:
df.rename(columns={'section_NUM':'section'}).head(3)

       form  section  item type  correct  incorrect  omits  Total
0  K-50SA10        1     1   MC       80         12    8.0    100
1  K-50SA10        3     1  SPR       65         30    5.0    100
2  K-50SB07        1     1   MC       95          5    NaN    100

### Querying/Subsetting a DataFrame
* Similar to SQL (SELECT, FROM, WHERE)

#### Selecting columns

In [8]:
subset = df[['correct','incorrect']]
print(subset)

    correct  incorrect
0        80         12
1        65         30
2        95          5
3        70         28
4        50         37
5        35         40
6        55         25
7        75         15
8        55         40
9        25         60
10       70         28
11       50         35
12       85         15
13       40         50
14       75         24
15       80         15

#### Selecting rows using logic

In [19]:
subset1 = subset[subset['correct']>=80]
print(subset1)
#print(subset1.reset_index(drop=True))

    correct  incorrect
0        80         12
2        95          5
12       85         15
15       80         15

In [10]:
print(df[(df['type'] == 'MC') & (df['omits']<=10)].reset_index(drop=True))

       form  section_NUM  item type  correct  incorrect  omits  Total
0  K-50SA10            1     1   MC       80         12    8.0    100
1    5MSA11            2     1   MC       75         15   10.0    100
2  K-50SA10            1     2   MC       55         40    5.0    100
3  K-50SB07            1     2   MC       70         28    2.0    100
4    5MSA11            2     2   MC       80         15    5.0    100

#### Aggregate queries with 'groupby'

In [11]:
df[['form','correct', 'incorrect']].groupby('form').mean()

          correct  incorrect
form
5MSA11      57.50      30.00
K-50SA10    56.25      35.50
K-50SB07    75.00      21.25
K-50SC07    62.50      28.00

### Joins

In [21]:
left = pd.DataFrame({'form': ['5MSA11', 'K-50SA10'],
                     'A': [10, 25],
                     'B': [20, 25]})
right = pd.DataFrame({'form': ['K-50SA10', '5MSA11'],
                      'C': [25, 30],
                      'D': [25, 40]})

print(left)
print(right)

result = pd.merge(left, right, on='form')
print(result)
# defaults to an inner join

    A   B      form
0  10  20    5MSA11
1  25  25  K-50SA10
    C   D      form
0  25  25  K-50SA10
1  30  40    5MSA11
    A   B      form   C   D
0  10  20    5MSA11  30  40
1  25  25  K-50SA10  25  25

### Pandas for Data Cleaning
* DataFrames usually aren't clean (incorrect format, missing values)
* Mutability, ability to change entire rows/columns makes Pandas effective 
* We don't just want to the data to be clean, we want it to be useful
* Feature engineering for machine learning
* 80-90% of Analytics/ML project time is spent in the data cleaning phase

### Missing Values

In [13]:
df.isnull().sum()

form           0
section_NUM    0
item           0
type           2
correct        0
incorrect      0
omits          2
Total          0
dtype: int64

In [14]:
df
# df['type'] = df['type'].fillna('MC')
# df['omits'] = df['omits'].fillna(0)
# df

        form  section_NUM  item type  correct  incorrect  omits  Total
0   K-50SA10            1     1   MC       80         12    8.0    100
1   K-50SA10            3     1  SPR       65         30    5.0    100
2   K-50SB07            1     1   MC       95          5    NaN    100
3   K-50SC07            2     1  NaN       70         28    2.0    100
4   K-50SB07            1     1   MC       50         37   13.0    100
5     5MSA11            3     1  SPR       35         40   25.0    100
6   K-50SC07            3     1  SPR       55         25   20.0    100
7     5MSA11            2     1   MC       75         15   10.0    100
8   K-50SA10            1     2   MC       55         40    5.0    100
9   K-50SA10            3     2  SPR       25         60   15.0    100
10  K-50SB07            1     2   MC       70         28    2.0    100
11  K-50SC07            2     2  NaN       50         35   15.0    100
12  K-50SB07            1     2   MC       85         15    NaN    100
13    5MSA11            3     2  SPR       40         50   10.0    100
14  K-50SC07            3     2  SPR       75         24    1.0    100
15    5MSA11            2     2   MC       80         15    5.0    100

Other strategies for handling missing values include:
* average value, interpolation, deleting the row

### Scaling

In [22]:
df['incorrect'] = np.log(df['incorrect'])
df.head()

,form,section_NUM,item,type,correct,incorrect,omits,Total,accuracy
0,K-50SA10,1,1,MC,80,0.910235,8.0,100,0.80
1,K-50SA10,3,1,SPR,65,1.224128,5.0,100,0.65
2,K-50SB07,1,1,MC,95,0.475885,NaN,100,0.95
3,K-50SC07,2,1,NaN,70,1.203634,2.0,100,0.70
4,K-50SB07,1,1,MC,50,1.283962,13.0,100,0.50

### Feature Engineering
* Create new features/variables based on existing variables
* Feature Engineering is a crucial part of training accurate algorithms
* Requires industry knowledge to be able to infer which statistics will be most useful for analytics

In [16]:
df['accuracy'] = df['correct']/df['Total']
df.head()

### One-Hot Encoding
* encodes categorical variables 
* useful for math-based algorithms like neural networks, which require numerical values

In [25]:
print(df.head())
dummies = pd.get_dummies(df['type'])
dummies

       form  section_NUM  item type  correct  incorrect  omits  Total  \
0  K-50SA10            1     1   MC       80   0.910235    8.0    100
1  K-50SA10            3     1  SPR       65   1.224128    5.0    100
2  K-50SB07            1     1   MC       95   0.475885    NaN    100
3  K-50SC07            2     1  NaN       70   1.203634    2.0    100
4  K-50SB07            1     1   MC       50   1.283962   13.0    100

   accuracy
0      0.80
1      0.65
2      0.95
3      0.70
4      0.50

    MC  SPR
0    1    0
1    0    1
2    1    0
3    0    0
4    1    0
5    0    1
6    0    1
7    1    0
8    1    0
9    0    1
10   1    0
11   0    0
12   1    0
13   0    1
14   0    1
15   1    0

In [26]:
df

,form,section_NUM,item,type,correct,incorrect,omits,Total,accuracy
0,K-50SA10,1,1,MC,80,0.910235,8.0,100,0.80
1,K-50SA10,3,1,SPR,65,1.224128,5.0,100,0.65
2,K-50SB07,1,1,MC,95,0.475885,NaN,100,0.95
3,K-50SC07,2,1,NaN,70,1.203634,2.0,100,0.70
4,K-50SB07,1,1,MC,50,1.283962,13.0,100,0.50
5,5MSA11,3,1,SPR,35,1.305323,25.0,100,0.35
6,K-50SC07,3,1,SPR,55,1.169032,20.0,100,0.55
7,5MSA11,2,1,MC,75,0.996229,10.0,100,0.75
8,K-50SA10,1,2,MC,55,1.305323,5.0,100,0.55
9,K-50SA10,3,2,SPR,25,1.409607,15.0,100,0.25
10,K-50SB07,1,2,MC,70,1.203634,2.0,100,0.70
11,K-50SC07,2,2,NaN,50,1.268453,15.0,100,0.50
12,K-50SB07,1,2,MC,85,0.996229,NaN,100,0.85
13,5MSA11,3,2,SPR,40,1.364055,10.0,100,0.40
14,K-50SC07,3,2,SPR,75,1.156269,1.0,100,0.75
15,5MSA11,2,2,MC,80,0.996229,5.0,100,0.80

### For Big Data, Pandas efficiency will drop
* Use big data tools like Hadoop or Spark instead